@font-face {
  font-family: "HoangYen11";
  src: url('../../common/font/HoangYen11/HY___.eot') format('embedded-opentype'), url('../../common/font/HoangYen11/HY___.woff2') format('woff2'), url('../../common/font/HoangYen11/HY___.woff') format('woff'), url('../../common/font/HoangYen11/HY___.ttf') format('truetype'), url('../../common/font/HoangYen11/HY___.svg#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
